body{
  font-family: Georgia, serif;
}
article{
  width: 400px;
  border: 1px solid grey;
  background-color: #ececec;
  position: relative;
  margin:5px;
}
article h2{
  margin: 0px;
  padding: 10px;
  font-size: 1.5em;
}
article .showlink{
  position: absolute;
  right: 10px;
  top:20px;
}
article .text{
  background-color: white;
  padding: 10px;
  font-size: 0.9em;
  color: #a9a9a9;
}

.text {
  display: none; /* Hide the article body by default */
}
.showlink {
  margin-bottom: 10px; /* Add some space below the show link */
}
 